<div class="page-header"><h2>Sign up</h2></div>
   <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
  <div class="field">
    <%= f.label :email, class: "col-sm-10 control-label" %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>


    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>
    (<%= @minimum_password_length %> characters minimum)
    </em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

    <%= f.label :pass_confirm, class: "col-sm-10 control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>


  <div class="col-sm-8">
    <%= f.submit "Sign up",class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>
</div>
</div>


<%= render "devise/shared/links" %>
