<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this @link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>

  <% end %>
  <div class='col-xs-12 well'>
   <div class="form-group col-sm-12 ">
    <%= f.label :You_given_url, class: " control-label" %>
    <%= f.text_field :given_url, class: 'form-control', :placeholder => "Paste a link to shorten" %>
 
    <%= f.label :Short_link_only, class: " control-label" %>
    <%= f.text_field :slug, class: 'form-control', :placeholder => "Insert a shorten link" %>
</div>
<div class="form-group center">
    <%= f.submit 'Shorten Me', :class => "btn btn-primary"%>
<% end %>

