    <div class="container">    
    <p><%= link_to 'New link', '/links/new',class: "btn btn-primary" %></p>
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">

                  <div class="panel-title">My Links</div>

</div>
</div>

<div class="col-sm-12 controls">

</div>
</div>
  <%
    @link.each do |link|
#    ui = @link2.user_id.to_i
#    ue = User.find(ui).email
    if link.user_id == @user.id
    
    email = @user.email 
    title = link.title 
    @display_slug = link.display_slug 
    created_at = link.created_at 
    given_url = link.given_url 
    slug = link.slug 
   %>



    <div class="col-xs-4 col-xs-5">
          <div class="well">

    <li><span class="title"><%= truncate(title, length: 40) %></span></li> 
      <ul class="click_time">
      <p><span class="time"><%= time_ago_in_words(created_at)  %> ago </span></p>
      </ul> 
    <p class="short_url"><%= link_to @display_slug, @display_slug  %></p>

      <p class="long_url"><%= link_to truncate(given_url, length: 50), given_url  %></p>
      
      <%= button_to "Delete", link, method: :delete, data: { confirm: "Are you sure you wish to delete #{link.slug}?" }, class: "btn btn-danger" %><br />

      <%= link_to 'Share', new_inbox_path(:url => link.id), class: 'btn btn-default' %><br />

    
    </div>
    </div>



    <% end %>
  <% end %>
</div>
</div>

</div>
</div>
