<div class="cont">
 <div class="title">
  <h1>Trending links</h1>
  <p> <%= current_user %></p>
</div>
<div class="container">
<div class="row">
  <% Link.all.each do |link| %>
    <div class="wall col-md-offset-3">
    <% ui = link.user_id.to_i %>
    <p class="title"><%= User.find(ui).email unless ui == 0 %></p>
    <p class="title"><%= truncate(link.title, length: 60) %></p>
    <p class="short_url"><%= link_to link.display_slug %></p>
      
        
        <li><span class="time"><%= time_ago_in_words(link.created_at) %> ago</span></li>
      </ul>
      <p class="long_url"><%= link_to truncate(link.given_url, length: 60), link.given_url %></p>
    </div>
  <% end %>
</div>
</div>
<p><%= link_to 'New link', '/links/new',class: "btn btn-default" %></p>
</div>

