<div class="cont">
 <div class="title">
  <h1>Trending links</h1>
</div>
<div class="container">
<div class="row">
  <% @top_links.each do |link| %>
    <div class="wall col-md-offset-3">
      <p class="title"><%= truncate(link.title, length: 60) %></p>
      <p class="short_url"><%= link_to link.slug, target: ENV['BASE_URL']+@link.slug %></p>
      
        
        <li><span class="time"><%= time_ago_in_words(link.created_at) %> ago</span></li>
      </ul>
      <p class="long_url"><%= link_to truncate(link.given_url, length: 60), link.given_url %></p>
    </div>
  <% end %>
</div>
</div>
<p><%= link_to 'New link', '/links/new',class: "btn btn-default" %></p>
</div>