

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                  <div class="panel-title">My Links</div>
                  <p id="notice"><%= notice %></p>

</div>
</div>
<p>
  <strong>You URL</strong>
  
<p class="short_url"><%= link_to @inbox.shortmessage, @inbox.shortmessage, :target => '_blank' %>
</p>


<p>
  <strong>Reseiver:</strong>
  <%= User.find(@inbox.reseiver).email %>
</p>
</div>
</div>


<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inboxes_path %>
